:root {
	--white: white;
	--background: rgb(60, 60, 60);
	--gray: var(--background);
	--lightGray: rgb(100, 100, 100);
    --lighterGray: rgb(180, 180, 180);
	--black: black;
	--greenAccent: #009879;
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--gray);
  color: var(--white);
  padding: 16px;
  font-size: 1.1vw;
  text-align: left;
  border: none;
  width: 100%;
  overflow-x: hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  font-size: 1.1vw;
  background-color: var(--white);
  min-width: 1vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--lighterGray);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--lightGray);
}