body {
	margin: 0;
	background: gray;
	text-align: center;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#title {
	text-align: left;
	padding-right: 24px;
}

span .main-menu-bar {
	padding-left: 24px;
}

.page-title {
	font-weight: bold;
	font-size: 1.5rem;
}

.main-logo {
	width: 450px;
	height: 450px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.content {
	background-color: #b8b8b8;
	color: black;
	font-size: 18px;
	font-weight: 15px;
	padding: 10px;
	height: 600px;
}

.footer {
	overflow: hidden;
	background-color: #333;
	padding: 24px;
}

.footer a {
	color: #f2f2f2;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

.footer a:hover {
	background-color: #ddd;
	color: black;
}

.footer span {
	padding-right: 25px;
}
