table {
    width: 100%;
}

.overview {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.overview thead tr {
    height: 1rem;
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.overview tr,
.overview td {
    padding: 12px 15px;
}

.overview tbody tr {
    border-bottom: 1px solid #dddddd;
}

.overview tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.overview tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.overview tbody tr:hover {
    font-weight: bold;
    color: #009879;
}